<footer class="footer container">
    <h2>Contacts</h2>
    <p>Want to know more or just chat? You are welcome!</p>
    <button class="send-message buttonOpenMessage-js" type="button">Send message</button>
    <ul class="social-media">
        <li class="first-row"><a href="#"><button class="social-media__link" type="buttton">Instagram</button></a></li>
        <li class="first-row first-row-vk"><a href="#"><button class="social-media__link" type="buttton">Vk</button></a></li>
        <li class="first-row-tg"><a href="#"><button class="social-media__link" type="buttton">Telegram</button></a></li>
        <li class="second-row"><a href="#"><button class="social-media__link" type="buttton">Mail</button></a></li>
        <li class="second-row second-row-git"><a href="#"><button class="social-media__link" type="buttton">GitHub</button></a></li>
        <li class="second-row"><a href="#"><button class="social-media__link" type="buttton">Phone</button></a></li>
    </ul>
    <ul class="low-footer">
        <p class="low-footer-1">Design by <a href="#">DL Academy</a></p>
        <p class="low-footer-2">Program code from Kirill</p>
    </ul>
</footer>