<header class="container header">
    <div class="header__wrap">
        <ul class="header__left-side">
            <li><a class="@@home" href="index.html">Home</a></li>
        </ul>
        <ul class="header__right-side">
            <li class="buttonOpenBlog-js"><a class="header__right-side-item" href="blog.html">My blog</a></li>
            <li class="buttonOpenProfile-js close"><a class="@@profile" href="profile.html">My profile</a></li>
            <li class="buttonOpenSignIn-js"><a class="header__right-side-item" href="#">Sign in</a></li>
            <li class="buttonOpenRegister-js"><a class="header__right-side-item" href="#">Register</a></li>
            <li class="buttonLogOut-js close"><button>Log Out</button></li>
        </ul>
    </div>
    <div class="@@burger header__burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="header__burger-menu">
        <li><a class="@@home-mobile" href="index.html">Home</a></li>
        <li><a href="blog.html">My Blog</a></li>
        <li class="buttonOpenProfileMobile-js close"><a class="@@profile-mobile" href="profile.html">My profile</a></li>
        <li class="buttonOpenSignInMobile-js"><a href="#">Sign in</a></li>
        <li class="buttonOpenRegisterMobile-js"><a href="#">Register</a></li>
        <li class="buttonLogOutMobile-js close"><button>Log Out</button></li>
    </ul>
    <hr>
</header>