<div class="popup-wrap container">
<div class="popup-sign-in">
    <form class="popup-sign-in__wrap" name="signUp">
        <div class="popup-sign-in__email">
            <label>Email</label>
            <input name="email" type="email">
        </div>
        <div class="popup-sign-in__password">
            <label>Password</label>
            <input name="password" type="password">
        </div>
        <button class="btn" type="submit">Log in</button>
    </form>
    <div class="popup-sign-in__close"></div>
</div>
</div>